html, body{
  background: #eeeeee;
	font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  overflow-y: overlay;
}

body::-webkit-scrollbar{
  background: #eee;
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  background: #eee;
  border-radius: 10px;
}

body:hover::-webkit-scrollbar-thumb{
  background: #1d9b72;
}

h1{
  display: block;
  font-size: 3.0em;
  font-weight: bold;
  margin: 40px 0 0 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 60%;
  white-space: nowrap;
}

#toolbar{
  background: #1d9b72;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  top: 0;
  padding: 0 8% 0 6%;
  position: fixed;
  width: 100%;
  z-index: 3;
}

#logo{
  display: inline-block;
  float: left;
  margin: 0 50px 0 40px;
  padding: 0;
  transform: translateY(10%);
}

#searchBar{
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  height: 25px;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateY(25%);
  width: 250px;
}

#searchTerm{
  border: none;
  border-radius: 5px;
  float: left;
  height: 21px;
  margin: 0;
  outline: none;
  padding: 2px;
  width: 221px;
}

#searchButton{
  background: #1d9b72;
  border: none;
  color: #fff;
  cursor: pointer;
  float: right;
  height: 25px;
  margin: 0;
  outline: none;
  width: 25px;
}

#toolbarButtons{
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}

#toolbarButtons li{
  float: left;
  margin: 0;
  padding: 0;
}

#notificationButton{
  position: relative;
}

#notificationCount{
  background: red;
  border-radius: 30px;
  display: block;
  font-size: .7em;
  height: 15px;
  left: 10px;
  line-height: 15px;
  text-align: center;
  top: 0px;
  width: 15px;
  padding: 1px;
  position: absolute;
  z-index: 10;
}

#notifications:before {
  border:10px solid #000;
  border-color:transparent transparent #fff;
  color:#000;
  content: '';
  display: block;
  height:0;
  margin:-20px 0 0 221px;
  width:0;
}

#notifications{
  background: #fff;
  display: none;
  height: 425px;
  padding: 0;
  position: absolute;
  right: 120px;
  top: 41px;
  width: 400px;
  z-index: 3;
}

#notificationsContainer{
  height: 375px;
  overflow-y: scroll;
}

#notificationsContainer::-webkit-scrollbar{
  background: #eee;
  width: 3px;
}

#notificationsContainer::-webkit-scrollbar-thumb{
  background: #1d9b72;
}

#notifications hr{
  margin: 0;
}

#login:before {
  border:10px solid #000;
  border-color:transparent transparent #fff;
  color:#000;
  content: '';
  display: block;
  height:0;
  margin:-20px 0 0 211px;
  width:0;
}

#login{
  background: #fff;
  display: none;
  height: 250px;
  padding: 5px;
  position: absolute;
  right: 150px;
  text-align: right;
  top: 41px;
  width: 250px;
  z-index: 3;
}

#login img{
  display: block;
  height: 100px;
  margin: 0 auto 0 auto;
  padding: 10px;
}

#login label{
  color: red;
  display: block;
  text-align: left;
  width: 100%;
}

#login input{
  box-sizing: border-box;
  margin: 5px 0 0 0;
  padding: 5px;
  width: 100%;
}

#login button{
  background: #1d9b72;
  border: none;
  box-sizing: border-box;
  color: #b0ddce;
  cursor: pointer;
  margin: 5px 0 0 0;
  outline: none;
  padding: 5px;
  width: 100%;
}

#login button:hover{
  color: #fff;
}

#login a{
  color: #1d9b72;
  display: block;
  margin: 5px 0 0 0;
  text-decoration: none;
}

#login a:hover{
  text-decoration: underline;
}

#wrap{
  background: #fff;
  margin: 0 auto;
  padding: 50px;
  width: 65%;
  z-index: 1;
}

#wrapbg{
  background: #fff;
  display: block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  padding: 50px;
  position: fixed;
  right: 0;
  width: 65%;
  z-index: 0;
}

#pageHead{
  display: block;
  margin: 0 auto 10px auto;
  min-height: 200px;
  padding: 20px;
  position: relative;
  width: 80%;
}

.pageLogo{
  border-radius: 200px;
  float: left;
  height: 200px;
  margin: 0 50px 0 0;
  width: 200px;
}

#optionsButton{
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 20px;
  top: 30px;
  z-index: 2;
}

#optionsButton:hover{
  color: #000;
}

#options:before {
  border:10px solid #000;
  border-color:transparent transparent #eee;
  color:#000;
  content: '';
  display: block;
  height:0;
  margin:-20px 0 0 153px;
  width:0;
}

#options{
  background: #fff;
  display: none;
  height: 35px;
  position: absolute;
  right: 0;
  top: 65px;
  width: 200px;
  z-index: 3;
}

.option{
  background: #eee;
  border: none;
  cursor: pointer;
  color: red;
  font-weight: bold;
  height: 35px;
  outline: none;
  width: 100%;
}

#options button:hover{
  text-decoration: underline;
}

#tabButtons{
  display: inline-block;
  height: 50px;
  margin: 0 auto 0 auto;
  width: 100%;
}

#tabButtons button.active{
  border-bottom: 2px solid #1d9b72;
  color: #000;
}

#details table{
  margin: 0 0 0 20px;
  border-color: collapse;
  text-align: left;
}

#details th, td{
  padding: 10px;
}

#imgcontainer{
  display: table;
  margin: 5px auto 0 auto;
  position: relative;
}

#profimglbl{
  background: #1d9b72;
  border-radius: 60px;
  bottom: 10px;
  color: #b0ddce;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 30px;
}

#profimglbl:hover{
  color: #fff;
}

#malelbl, #femalelbl{
  background: #e4e4e4;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 8px;
  text-align: center;
  width: 20%;
}

#malerbtn:checked + #malelbl, #femalerbtn:checked + #femalelbl {
  background: #1d9b72;
  color: #fff;
}

.toolbarButton{
  background: #1d9b72;
  border: none;
  color: #b0ddce;
  cursor: pointer;
  height: 35px;
  margin: 0 20px 0 0;
  outline: none;
  padding: 0 20px 0 20px;
}

.toolbarButton:hover{
  color: #fff;
}

.notificationsTitle{
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.notification{
  border-bottom: 2px solid #eee;
  display: block;
  font-size: .8em;
  height: 75px;
  position: relative;
}

.notification:last-child{
  border: none;
}

.notificationImage{
  height: 60px;
  left: 10px;
  top: 7px;
  position: absolute;
}

.notificationMessage{
  position: absolute;
  right: 15px;
  top: 5px;
  width: 75%;
}

.pageLegend{
  color: #aaa;
  float: right;
  margin: 0;
}

.pageLegend i{
  margin: 0 0 0 20px;
}

.tabButton{
  background: none;
  border: none;
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
  color: #999;
  cursor: pointer;
  float: left;
  font-weight: bold;
  outline: none;
  padding: 14px 16px;
  width: 33.33%;
}

.tabButton:hover{
  color: #000;
}

.half{
  width: 50%;
}

.tabButton:last-child{
  border-right: none;
}

.tabContent{
  display: none;
  height: 100%;
  padding: 10px 12px;
  position: relative;
}

.modalPadding{
  height: 93%;
  overflow-y: scroll;
  padding: 5px;
}

.largeModal:before{
  background: #1d9b72;
  content: '';
  display: block;
  height: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.largeModal{
  background: #eee;
  box-shadow: 0 0 10px 1px #555;
  display: none;
  height: 82%;
  left: 50%;
  margin: auto;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  z-index: 3;
}

.largeModal h3{
  margin: 10px;
  padding: 0;
}

.largeModal hr{
  margin: 0 5px 0 5px;
}

.modalPadding::-webkit-scrollbar{
  background: #eee;
  width: 10px;
}

.modalPadding::-webkit-scrollbar-thumb{
  background: #eee;
  border-radius: 10px;
}

.modalPadding:hover::-webkit-scrollbar-thumb{
  background: #1d9b72;
}

.projectDisplay{
  background: #eeeeee;
  display: block;
  height: 18vh;
  margin: 40px auto 40px auto;
  padding: 20px;
  position: relative;
  width: 80%;
}

.projectDisplay:last-child{
  margin: 40px auto 0 auto;
}

.projectStatus{
  display: block;
  font-size: 1.4em;
  position: absolute;
  right: 1.3em;
  top: 1.4em;
}

.projectTitle{
  color: #000;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: 75%;
  white-space: nowrap;
}

.projectTitle:hover{
  text-decoration: underline;
}

.projectHead{
  margin: 0;
  padding: 0;
}

.projectTitle:after{
  background: linear-gradient(to right, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 50%);
  bottom: 0;
  content: "";
  height: 1.2em;
  position: absolute;
  right: 0;
  text-align: right;
  width: 20%;
}

.projectStart{
  clear: both;
  float: right;
  margin: 0 7%;
  padding: inherit;
  position: absolute;
  right: 0;
  top: .3em;
}

.projectEnd{
  clear: both;
  float: right;
  margin: 0 7%;
  padding: inherit;
  position: absolute;
  right: 0;
  top: 1.5em;
}

.projectAbstract{
  display: block;
  height: 3.6em;
  overflow: hidden;
  position: relative;
  text-align: justify;
  width: 93%;
}

.projectAbstract:after{
  background: linear-gradient(to right, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 50%);
  bottom: 0;
  content: "";
  height: 1.2em;
  position: absolute;
  right: 0;
  text-align: right;
  width: 60%;
}

.cornerFold{
  border-bottom: 50px solid #fff;
  border-left: 50px solid #eee;
  box-shadow: -10px -10px 15px 1px #d9d8d8;
  bottom: 0;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}

.member{
  display: inline-block;
  height: 175px;
  margin: 0 auto 0 auto;
  padding: 20px;
  text-align: center;
  width: 150px;
}

.memberImage{
  border-radius: 300px;
  height: 150px;
  width: 150px;
}

.memberName{
  color: #000;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  white-space:nowrap;
}

.memberName:hover{
  text-decoration: underline;
}

.memberTitle{
  font-style: italic;
  margin: 0;
}

.cancelled:before{
  background: url("../images/status/Cancelled.png");
  background-repeat: no-repeat;
  background-size: 40px;
  content: '';
  display: inline-block;
  height: 25px;
  margin: 0;
  padding: 0;
  width: 36px;
}

.done:before{
  background: url("../images/status/Done.png");
  background-repeat: no-repeat;
  background-size: 40px;
  content: '';
  display: inline-block;
  height: 25px;
  margin: 0;
  padding: 0;
  width: 36px;
}

.ongoing:before{
  background: url("../images/status/Ongoing.png");
  background-repeat: no-repeat;
  background-size: 40px;
  content: '';
  display: inline-block;
  height: 25px;
  margin: 0;
  padding: 0;
  width: 36px;
}

#pageTitle{
  display: block;
  font-size: 3.0em;
  font-weight: bold;
  margin: 40px 0 0 0;
  padding: 0;
  position: relative;
}

button, input[type=button], input[type=submit]{
  background: #1d9b72;
  border: none;
  color: #b0ddce;
  cursor: pointer;
  outline: none;
  padding: 7px;
  text-align: center;
}

.modalBtn:hover{
  color: #fff;
}

button:hover, input[type=button]:hover, input[type=submit]:hover{
  color: #fff;
}

.contextButton{
  background: #1d9b72;
  border: none;
  border-radius: 100px;
  bottom:5%;
  color: #b0ddce;
  cursor: pointer;
  height: 75px;
  outline: none;
  position: absolute;
  right: 5%;
  width: 75px;
  z-index: 2;
}

.contextButton:hover{
  color: #fff;
}

.largeModal textarea{
  box-sizing: border-box;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  height: 82%;
  margin: 0 auto 0 auto;
  outline: none;
  overflow-x: hidden;
  padding: 5px;
  resize: none;
  width: 96%;
}

.largeModal img{
  border-radius: 200px;
  height: 150px;
  width: 150px;
}

.largeModal label{
  display: inline-block;
  font-weight: bold;
  margin: 5px 5px 0 5px;
  text-align: left;
}

.largeModal input[type=file]{
  display: none;
}

.largeModal input{
  box-sizing: border-box;
  padding: 5px;
}

.largeModal select option{
  padding: 10px;
}

#validatePwd{
  display: none;
}

.validate{
  color: red;
}

button:disabled{
  background: #ccc;
  color: #fff;
  cursor: default;
}

.center{
  text-align: center;
}

.dnone{
  display: none;
}

.p10{
  margin: 5px;
  width: 7%;
}

.p15{
  margin: 5px;
  width: 12%;
}

.p20{
  margin: 5px;
  width: 18%;
}

.p25{
  display: inline-block;
  margin: 5px;
  width: 22%;
}

.p30{
  display: inline-block;
  margin: 5px;
  width: 28%
}

.p45{
  display: inline-block;
  margin: 5px;
  width: 43%;
}

.p50{
  display: inline-block;
  margin: 5px;
  width: 47%;
}

.p70{
  display: inline-block;
  margin: 5px;
  width: 65%
}

.p100{
  display: inline;
  margin: 5px;
  padding: 5px;
  width: 96%;
}

.pt100{
  width: 100%;
}

.alignRightContainer{
  width: 100%;
}

.fRight{
  float: right;
  margin: 10px;
}

.select{
  min-height: 180px;
}

.modalBackground{
  background: none;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.footer{
  bottom: 0;
  box-sizing: border-box;
  height: 2px;
  left: 0;
  margin: 0 auto;
  padding: 50px;
  position: absolute;
  text-align: center;
  right: 0;
  width: 100%;
}

.footer a{
  color: #1d9b72;
  text-decoration: none;
}

.footer a:hover{
  text-decoration: green wavy underline;
}
